<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo list with custom API backend</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Oswald:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="css/master.css">
</head>
<body>
    <header>
        <h1><span>Todo</span>list</h1>
        <p>A simple todo list app built with <span>node</span>.js</p>
    </header>

    <section>
        <input type="text" name="todo" id="task">
        <h3 class="default hidden">No more todos! Maybe add something new? </h3>
        <ul class="list">

        </ul>
    </section>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>